:root {
    --primary-color: #055a05; /* forest green */
    --secondary-color: #f4a261; /* warm sand */
    --accent1-color: #264653; /* dark slate blue */
    --accent2-color: #e9c46a; /* light golden yellow */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    line-height: 1.6;
}

header, .grid, footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: var(--accent2-color);
    justify-content: space-between
}

header img {
    width: 80px;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    padding: 8px 15px;
    background-color: var(--secondary-color);
    border: 1px solid;
    text-decoration: none;
    color: var(--accent1-color);
    border-radius: 5px;
}

nav a:hover {
    background-color: var(--secondary-color);
}


.contact-container {
    max-width: 1100px;
    margin: 40px auto;
    padding: 10px;
}


.company-info {
    text-align: center;
    margin-bottom: 30px;
    margin: 6px 0;
}

.map-container {
    max-width: 450px;
    margin: 20px auto;
}

.map-container iframe {
    width: 100%;
    height: 260px;
    border: 1px solid var(--accent1-color);
}

.employees {
    background-color: var(--secondary-color);
    padding: 30px 0;
    margin-top: 40px;
    text-align: center;
}

.employee-grid {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.employee-grid figure {
    width: 200px;
    padding: 15px;
    background-color: var(--secondary-color);
    border-radius: 6px;
    text-align: center;
}

.employee-grid img {
    width: 100%;
    border-radius: 5px;
}

.contact-form h2 {
    text-align: center;
    margin: 25px 0;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px 20px;
    max-width: 650px;
    margin: 0 auto;
}


form label {
    font-weight: bold;
}


input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--accent1-color);
    border-radius: 4px;
    background-color: var(--accent2-color);
}


.message-purpose {
    border: 1px solid var(--accent1-color);
    padding: 10px;
    border-radius: 5px;
    grid-column: span 2;
}

.message-purpose label {
    display: block;
    margin-top: 6px;
}


.checkbox {
    grid-column: span 2;
    display: flex;
    align-items: center;
    gap: 8px;
}


.submit-btn {
    grid-column: span 2;
    padding: 10px;
    border: 1px solid var(--accent1-color);
    background-color: var(--secondary-color);
    cursor: pointer;
    font-size: 1rem;
    border-radius: 6px;
}

.submit-btn:hover {
    background-color: var(--secondary-color);
}


main {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
    

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--secondary-color);
    border-top: 3px solid var(--accent1-color);
    margin-top: 2rem;
}

footer p {
    font-weight: bold;
}

.socialmedia a img {
    width: 30px;
    margin-left: 10px;
}

footer a {
    text-decoration: none;
}

