:root {
    --primary-color: #055a05; /* forest green */
    --secondary-color: #f4a261; /* warm sand */
    --accent1-color: #264653; /* dark slate blue */
    --accent2-color: #e9c46a; /* light golden yellow */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, .grid, footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fff;
    border-bottom: 3px solid #1b4d7a;
}

header img {
    width: 140px;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}

nav a {
    text-decoration: none;
    color: #1b4d7a;
    font-weight: 600;
    font-size: 1.1rem;
}

nav a:hover {
    text-decoration: underline;
}

main {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}


.hero {
    position: relative;
    text-align: center;
    margin-bottom: 2rem;
}

.hero img {
    object-fit: cover;
    height: 350px;
    width: 100%
}

.hero h1 {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 2rem;
    border-radius: 5px;
}

.history {
    padding: 2rem;
}

.history h2 {
    color: #1b4d7a;
    margin-bottom: 1rem;
    font-size: 2rem;
    text-align: center;
}

.history-grid {
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    gap: 1.5rem;
    align-items: center;
}

.history-grid img {
    border-radius: 10px;
}

.adventures h2 {
    text-align: center;
    font-size: 2rem;
    color: #1b4d7a;
    margin-bottom: 1.5rem;
}

.adventure-gallery figure {
    width: 18%;
    text-align: center;
}

.adventure-gallery img {
    border-radius: 10px;
}

.adventure-gallery figcaption {
    margin-top: 0.5rem;
    font-weight: bold;
    color: #1b4d7a;
}
    

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #eee;
    border-top: 3px solid #1b4d7a;
    margin-top: 2rem;
}

footer p {
    font-weight: 600;
}

footer .social {
    display: flex;
    gap: 1rem;
}

footer .social img {
    width: 30px;
}
