:root {
    --primary-color: #055a05; /* forest green */
    --secondary-color: #f4a261; /* warm sand */
    --accent1-color: #264653; /* dark slate blue */
    --accent2-color: #e9c46a; /* light golden yellow */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;

}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.social media a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    height: auto;
    display: block;
    width: 100%
    
}

h1 {
    background-color: var(--accent1-color);
    color: #fff; /* white text-make sure there is enough contrast with the background-color */
    opacity: 0.7;
    text-align: center;
    padding: 16px;
    position: absolute;
    top: 20px;
    width: 100%
}

.hero article img {
    float: right;
    width: 125px;
}

