:root {
    --primary-color: #055a05; /* forest green */
    --secondary-color: #f4a261; /* warm sand */
    --accent1-color: #264653; /* dark slate blue */
    --accent2-color: #e9c46a; /* light golden yellow */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    line-height: 1.6;
    color: var(--accent1-color);
}

img {
    max-width: 100%;
    display: block;
}


header, .grid, footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--accent2-color);
    grid-template-columns: 120px 1fr;
    justify-content: space-between
}

header img {
    width: 80px;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

nav a {
    padding: 8px 15px;
    background-color: var(--secondary-color);
    border: 1px solid;
    text-decoration: none;
    color: var(--accent1-color);
    border-radius: 5px;
}

nav a:hover {
    background-color: var(--secondary-color);
}

h1, h2{
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

.hero {
    position: relative;
    text-align: center;
    margin-bottom: 2rem;
    width: 100%;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.hero h1 {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    color: var(--accent1-color);
    padding: 0.5rem 1rem;
    font-size: 2rem;
    border-radius: 5px;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 500px;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    padding: 20px;
    max-width: 350px;
    border-radius: 5px;
}

.hero article img {
    width: 100px;
    float: right;
    margin-left: 10px;
    border-radius: 4px;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    padding: 40px 5%;
    gap: 40px;
    align-items: center;
}

.home-grid img {
    width: 100%;
    border-radius: 8px;
}

.home-grid div {
    font-size: 1.1rem;
}

.newsletter {
    padding: 40px 5%;
    text-align: center;
}

.newsletter form {
    margin-top: 20px;
}

.newsletter input {
    padding: 10px;
    width: 250px;
    margin: 10px;
    border-radius: 5px;
}

.newsletter button {
    padding: 10px 20px;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}

.newsletter button:hover {
    background-color: var(--secondary-color);
}

.cta {
    text-align: center;
    padding: 40px 5%;
}

.cta a {
    padding: 12px 25px;
    color: var(--accent2-color);
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s;
}

.cta a:hover {
    background-color: var(--accent2-color);
}

.features {
    padding: 30px 0;
    margin-top: 40px;
    text-align: center;
}

.features-grid {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.features-grid img {
    width: 100%;
    border-radius: 10px;
}

.secondary-cta {
    text-align: center;
}

.trips-hero {
    display: flex;
    padding: 30px 0;
    margin-top: 40px;
    width: 100%;
    border-radius: 18%;
    position: relative;
}

.hero-box {
    width: 100%;
    border-radius: 5px;
    text-align: center;
    font-family: var(--heading-font);
}

.trip-list h2 {
    text-align: center;
    font-family: var(--heading-font);
}

.trip-cards {
    margin: a20px;
    padding: 30px 0;
    text-align: center; 
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 40px;
    background-color: var(--accent2-color);
}

.trip-cards img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
}

.trip-cards h3 {
    margin-bottom: 20px;
    font-family: var(--heading-font);
}

.trips-table {
    text-align: center;
}

.table-wrapper {
    display: grid;
}

.history {
    padding: 2rem;
    text-align: center;
}

.history h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--accent1-color);
    text-align: center;
}

.history-grid {
   display: grid;
   grid-template-columns: 1fr 300px 1fr;
   gap: 1.5rem;
   align-items: center;
}

.adventures {
    text-align: center;
    padding: 2rem;
}

.adventures h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--accent1-color);
}

.adventure-gallery {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.adventure-gallery figure {
    width: 18%;
    text-align: center;
}

.adventure-gallery img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.adventure-gallery figcaption {
    margin-top: 8px;
    font-size: 0.9rem;
    font-weight: bold;
}


.contact-container {
    max-width: 1100px;
    margin: 40px auto;
    padding: 10px;
}


.company-info {
    text-align: center;
    margin-bottom: 30px;
    margin: 6px 0;
}

.map-container {
    max-width: 450px;
    margin: 20px auto;
}

.map-container iframe {
    width: 100%;
    height: 260px;
    border: 1px solid var(--accent1-color);
}

.employees {
    background-color: var(--secondary-color);
    padding: 30px 0;
    margin-top: 40px;
    text-align: center;
}

.employee-grid {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.employee-grid figure {
    width: 200px;
    padding: 15px;
    background-color: var(--secondary-color);
    border-radius: 6px;
    text-align: center;
}

.employee-grid img {
    width: 100%;
    border-radius: 5px;
}

.contact-form h2 {
    text-align: center;
    margin: 25px 0;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px 20px;
    max-width: 650px;
    margin: 0 auto;
}


form label {
    font-weight: bold;
}


input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--accent1-color);
    border-radius: 4px;
    background-color: var(--accent2-color);
}


.message-purpose {
    border: 1px solid var(--accent1-color);
    padding: 10px;
    border-radius: 5px;
    grid-column: span 2;
}

.message-purpose label {
    display: block;
    margin-top: 6px;
}


.checkbox {
    grid-column: span 2;
    display: flex;
    align-items: center;
    gap: 8px;
}


.submit-btn {
    grid-column: span 2;
    padding: 10px;
    border: 1px solid var(--accent1-color);
    background-color: var(--secondary-color);
    cursor: pointer;
    font-size: 1rem;
    border-radius: 6px;
}

.submit-btn:hover {
    background-color: var(--secondary-color);
}


main {
    width: 840px;
    margin: 0 auto;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: var(--secondary-color);
    border-top: 3px solid var(--accent1-color);
    margin-top: 2rem;
}

footer p {
    font-weight: bold;
    margin: 0;
    font-size: 0.9rem;
}

footer .socialmedia {
    display: flex;
    gap: 10px;
}

.socialmedia a img {
    width: 30px;
    margin-left: 10px;
}

footer a {
    text-decoration: none;
}

