* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 1rem;
    font-family: monospace;
    font-size: 1.2rem;
}

div {
    margin: 1rem;
    border: 1px dashed;
    padding: 1rem;
}

.one {
    width: 200px;
    height: 200px;
}

.flex {
    background-color: #aba;
    display: flex;/* write declarations here */
    justify-content: center;
    align-items: center;
}

.grid {
    background-color: #abb;
    display: grid;/* enter declarations here */
    place-items: center;
}

.container2 {
    display: flex;/* write declarations here */
    flex-wrap: wrap;
    justify-content: space-around;
}

.two {
    background-color: #ace;
    height: 100px;
}

.container3 {
    display: grid;/* write declarations here */
    grid-template-columns: 1fr 1fr 1fr;
}

.columns-3 {
    grid-column: 1/4;/* write declaration here */

}

.three {
    margin: .25rem;
    background-color: #abd;
}