* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --text-align: centre;
}


nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0px;
}

main {
    max-width: 840px;
}

aside {
    position: relative;
    width: 20rem;
    text-align: var(--text-align)
}

aside img {
    width: 200px;
    height: auto;
    text-align: var(--text-align);
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 150px
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: var(--text-align)
}

/* Class Selectors */
.box {
    border: 1px solid #b71234;
    padding: 1rem;
    margin: 1rem;
    background-color: #cccaca;
    color: #1a044e;
}